* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Zilla Slab", serif;
    font-weight: 400;
}

main {
    width: 100vw;
    height: 100vh;
}

.container-left {
    width: 60%;
    display: inline-block;
    background-color: rgba(26, 116, 163, 0.20);
    height: 100vh;
    padding: 8%;
}

h1 {
    font-size: 70px;
    line-height: 80px;
    margin-top: 10%;
}


p {
    font-size: 20px;
    line-height: 30px;
    width: 540px;
    margin: 25px 0;
    font-weight: 500;
}

button {
    width: 148px;
    height: 44px;
    font-size: 16px;
    line-height: 36px;
    border-radius: 30px;
    background-color: #FABF37;
    box-shadow: 2px 5px 5px 0px #4b3605;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #fcba1f;
}

button:active {
    
    background-color: #fdb307;
    font-weight: 500;
}

.container-right {
    width: 40%;
    display: inline-block;
    position: absolute;
    background-color: rgba(255, 108, 34, 0.30);
    height: 100vh;
}

header {
    margin: 4% 0 ;
}

.link {
    font-size: 16px;
    line-height: 41px;
    margin-left: 4%;
    cursor: pointer;
    font-weight: 500;
}

a:nth-last-of-type(1) {
    color: rgba(7, 7, 7, 0.534);
}

img {
    width: 520px;
    height: 360px;
    position: relative;
    right: 28%;
    top: 10%;
    
}



